dt {
  margin-top: 15px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 169%;
  width: 89%;
  height: 177px;
  margin-left: 10%;
  position: absolute;
}
.footer-item {
  width: 160px;
  height: 177px;
  margin-right: 120px;
}
.footer-logo {
  height: 50px;
  width: 65px;
  position: absolute;
}
.footer-title {
  display: flex;
  margin-left: 30px;
  justify-content: center;
}

