.contact {
  width: 99%;
  height: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.c1 {
  margin-top: 5%;
}
.c2 {
  margin-top: 38%;
}
.c3 {
  margin-top: 70%;
}
.c4{
    margin-top: 103%;
 
}
.c5{
    margin-top: 136%;  
}
.c1-picture{
    height: 100%;
    width: 40%;
    margin-right: 30%;
    position: absolute;
}
.c1-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 40%;
    margin-left: 50%;
    position: absolute;    
}
.item1{
    height: 20%;
    width: 50%;
    margin-left: 0%;
    margin-top: 20%;
    margin-bottom: 40%;
}
.item2{
    height: 20%;
    width: 50%;
    margin-left: 0%;
    margin-top: 20%;
    margin-bottom: 19%;
    font-size: 19px;
}
.item3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 25%;
    margin-left: 0%;
    margin-top: 30%;
    border: none;
    border-radius: 20px;
    background: #CF9A72;
    color: white;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}
.c1-box button:hover{
  background-color: #c29160;
}

