.flex-c2{
    display: flex;
    position: absolute;
    width: 60%;
    height: 92%;
    gap: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
  .flex-c2-item{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .flex-c2-item img{
    width: 140px;
    height: 110px;
    position: absolute;
    margin-bottom: 15%;
  }
  .flex-c2-item-box{
    margin-top: 100%;
  }
  .flex-c2-item-box h3{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-c2-item-box p{
    display: flex;
    justify-content: center;
    gap: 0px;
    font-size: 17px;
    font-style: normal;
  }
  .c2 button 
  {
      border: none;
      background-color: white;
      color: #EACBAC;
      font-size: 30px;
      margin-left: 90%;
      margin-bottom: 10%;
      z-index: 9999;
      display: none;
      position: fixed;
  }
  .c2 button:hover
  {
      color: #c29160;
  }
  